span {
	display: inline-block;
 }

.border-none{
	border-right: none;
}

table{
	border-top-style: solid;
	border-top-width: 1px;
    border-right-style: solid;
	border-right-width: 1px;
    border-bottom-style: solid;
	border-bottom-width: 1px;
    border-left-style: solid;
	border-left-width: 1px;
	border-color: rgb(224, 224, 224);
	background-color: white;
}

td{
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
	vertical-align: middle;

}

body{
	background-image:url("../img/general/background/lab_haikei.png");
	font-weight:400;
}


.responsive-gallery {
	display: flex;
	flex-wrap: wrap; /* アイテムがコンテナ幅を超えた場合に折り返し */
	justify-content: center; /* アイテムを中央に配置 */
}
.responsive-gallery a {
	flex: 0 1 50%; /* 画面幅が広い時、各アンカーはコンテナの50%の幅を使用 */
	box-sizing: border-box;
	padding: 5px; /* 画像間のスペース */
	display: flex;
	justify-content: center; /* 各アンカー内の画像を中央に配置 */
}
.responsive-gallery img {
	width: auto; /* 画像の幅を自然なサイズに保つ */
	max-width: 50%; /* 画像が親要素を超えないように制限 */
	height: auto;
}

.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.event-card {
    background: #e9ecef;
    border-left: 5px solid #007bff;
    width: 100%;
    margin: 10px 0;
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.event-card h4 {
    color: #007bff;
}

.event-card p {
    margin: 10px 0;
}

.event-card:hover {
    transform: scale(1.05);
}


@media (max-width: 600px) {
	.responsive-gallery a {
		flex: 0 1 100%; /* 画面幅が600px以下の時、各アンカーはコンテナの100%の幅を使用 */
	}
	.container {
		padding: 0 10px; /* より少ないパディングで、コンテンツが端に近づく */
	}
	.col {
		padding: 0; /* 列のパディングを削除 */
	}
	p {
		padding: 0 5px; /* テキストが端まで広がるようにパディング調整 */
	}
	.event-card {
        width: 90%;
        padding: 10px;
    }


}