span {
	display: inline-block;
 }

.border-none{
	border-right: none;
}

table{
	border-top-style: solid;
	border-top-width: 1px;
    border-right-style: solid;
	border-right-width: 1px;
    border-bottom-style: solid;
	border-bottom-width: 1px;
    border-left-style: solid;
	border-left-width: 1px;
	border-color: rgb(224, 224, 224);
	background-color: white;
}

td{
	padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
	vertical-align: middle;

}

body{
	background-image:url("../img/haikei.png");
}

.shadow{
-webkit-text-stroke:2px White;
position: relative;
}
.shadow::before{
    content: "上記日程以外にも、研究内容や進路など相談があれば個別に面談をしますので、以下のメールアドレス宛に氏名と希望日時(複数)を送ってください。";
    -webkit-text-stroke: 0;
    position: absolute;
}